
body{
    margin: 0px;
    padding: 0px;
    
}
.intro{
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
span{
   color: rgb(250, 127, 83);
   font-weight: bold;
}
.descro p{
    padding-bottom: 5px;
}
.descro a{
    text-decoration: none;
    font-weight: 900;
    background-image:linear-gradient(to bottom right, red, yellow);
    padding: 8PX 20px;
    color: rgb(7, 10, 12);
    border-radius: 5px;

}
.descro h1{
    padding: 10px;
}
.secrule{
    display:flex;
    padding: 10px 40px;
}
.descro{
    width: 50%;
}
.pico{
    width: 50%;
    margin-left: 20px;
}
div img{
    width: 85%;
    padding-left:40px;    
}
.dream{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.box h1{
    font-weight 900px;
    color: coral;
}
.box div{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 20px;
    
   
}
.expo h1{
color: rgb(0, 0, 0);
margin-left: 15px;
text-align: center;
    
}
.glimps{
    padding: 5px 40px 10px 40px;
    text-align: center;

}
.item{
    width: 25%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
.secrule{
    display:flex;
}
.item{
    margin-left: 7%;
}
.item img{
    width: 80%;
    height: 30%;
    padding:10%;
}
.item h2{
    font-size: 20px;
    padding:10px;
}
.item p{
    font-size: 10px;
    padding:10px;
}
.ex{

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,118,0.4991130241158963) 50%, rgba(0,212,255,1) 100%); 
}
.pro{
    border-left: steelblue solid 5px;
}
footer{
    text-align: center;
    background-color: gray;
    padding: 5PX ;
}